{% extends "base.html" %}
{% set base_path = "../" %}
{% block content %}
<h1>{{ label }}</h1>
<p class="uri">{{ uri }}</p>
{% if comment %}
<p class="comment">{{ comment }}</p>
{% endif %}
<p></p>
{% if types %}
<h2>Type(s)</h2>
<ul>
  {% for t in types %}
  <li>{% if "#" not in t %}<a href="{{ t }}.html">{{ t }}</a>{%else%} {{t}} {%endif%}</li>
  {% endfor %}
</ul>
{% endif %}

{% if relations %}
<h2>Relations</h2>
<ul>
  {% for pred, obj in relations %}
  <li> {% if "#" not in pred %}<a href="{{ pred }}.html">{{ pred }}</a> {%else%} {{pred}} {%endif%} → {% if "#" not in obj %}<a href="{{ obj }}.html">{{ obj }}</a>{%else%} {{obj}} {%endif%}</li>
  {% endfor %}
</ul>
{% endif %}

{% if anti_rels %}
<h2>Relations inverses</h2>
<ul>
  {% for pred, obj in anti_rels %}
  <li> {% if "#" not in pred %}<a href="{{ pred }}.html">{{ pred }}</a> {%else%} {{pred}} {%endif%} → {% if "#" not in obj %}<a href="{{ obj }}.html">{{ obj }}</a>{%else%} {{obj}} {%endif%}</li>
  {% endfor %}
</ul>
{% endif %}

{% if individuals %}
<h2>Instances</h2>
<ul>
  {% for ind in individuals %}
  <li> {% if "#" not in ind %}<a href="{{ ind }}.html">{{ ind }}</a> {%else%} {{ind}} {%endif%}</li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
